
name: CI

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-2019
    timeout-minutes: 9999

    steps:
    - name: Downloading Ngrok.
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
        Invoke-WebRequest https://raw.githubusercontent.com/konchilscode/RDP-Windows-2019/main/start.bat -OutFile start.bat
        Invoke-WebRequest https://raw.githubusercontent.com/konchilscode/RDP-Windows-2019/main/loop.bat -OutFile loop.bat
    - name: Ekstrak Ngrok File...
      run: Expand-Archive ngrok.zip
    - name: conecting to ngrok..
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: acces RDP
      run: | 
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
    - name: Membuat Tunnel.
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\ngrok\ngrok.exe tcp --region ap 3389"'
    - name: Connect Ke RDP Kamu CPU 2 Core - 7GB Ram - 256 SSD.
      run: cmd /c start.bat
    - name: succes your rdp is ready..
      run: cmd /c loop.bat
